.cover-picture {
    max-width: 100vw;
    margin: auto;
}
.titles {
    background-color: rgb(15, 52, 111);
    color: #fff;
}
.body-text {
    max-width: 95vw;
}
.body-text ul li {
    font-weight: bold;
}