:root {
    --navbar-height: 12vh;
    color: #434242;
  }
.body {
    position: relative;
    padding-top: 5vh;
    overflow-x: hidden; 
    box-sizing: border-box;

}
.top {
    margin-top: 6vh;
}
.cover-picture {
    max-width: 100vw;
    margin: auto;
}

.title {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: #F7F7F7;
    padding: 10px;
    box-sizing: border-box;
}

.title h1 {
    font-size: 2rem;
    color: #DC0100;
}

.title h2 {
    font-size: 1.5rem;
    color: #0E446A;
}
.title p {
    padding-top: 10px;
    color: #434242;
    font-size: 1rem;
}

.body-text {
    max-width: 95vw;
    box-sizing: border-box;
}

/* Subtitle;*: Quienes somos */
.subtitle {
    /* padding: 10px; */
    position: relative;
}

.us-subtitle {
    /* padding: 20px; */
    padding-top: var(--navbar-height);
    margin-top: calc(var(--navbar-height) * -1);
}

/* .us-subtitle p { */
    /* max-width: 800px; */
/* } */
.subtitle h2 {
    /* color: #000; */
    /* font-weight: bold; */
    /* font-size: 1.5rem; */
    margin: 50px 0;
    height: auto;
    padding-left: 20px;
    color: #fff;
    background-color: #0E446A;
    font-weight: bold;
    font-size: 1.5rem;
    min-width: 180px;
    max-width: 50vw;
    padding-right: 10px; /* Add padding to the right to make space for the red stripe */
    position: relative;
}
.subtitle h2::after {
    content: '';
    position: absolute;
    right: 0; /* Position the stripe to the far right */
    top: 0;
    width: 5px;
    height: 100%; /* Make the stripe full height of the subtitle */
    background-color: #DC0100;
}
.us-container {
    margin-left: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; /* Allow items to wrap into the next line if needed */
    justify-content: flex-start;
    align-items: flex-start; /* Ensure icons and text are vertically centered within the container */
    max-width: 100%; /* Ensure the container does not exceed the width of its parent */
    overflow-x: hidden; /* Prevent horizontal overflow */
    box-sizing: border-box;
    z-index: 5;
}

.us-container a {
    display: flex; /* Make the a tags flex containers */
    align-items: center; /* Center items vertically */
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Inherit text color */
    margin: 10px; /* Add some space between the links */
    box-sizing: border-box; /* Include padding in the element's total width and height */
    color: #434242;
    z-index: 5;
    transition: color 0.3s;
}

.us-container a:hover {
    color: #0e466e;
}
.us-container a:hover img {
    filter: brightness(0) saturate(40%) invert(23%) sepia(78%) saturate(3183%) hue-rotate(191deg) brightness(88%) contrast(54%);
}
.dark .us-container a:hover {
    color: #98d2fa;
}
.dark .us-container a:hover img {
    filter: brightness(0) saturate(100%) invert(75%) sepia(48%) saturate(2604%) hue-rotate(168deg) brightness(101%) contrast(101%);
}

.us-container a img {
    width: 50px;
    margin-right: 10px; /* Add space between the icon and the text */
}

.us-container a img {
    width: 50px;
    margin-right: 10px; /* Add space between the icon and the text */
}
.services-subtitle {
    
    padding-top: var(--navbar-height);
    margin-top: calc(var(--navbar-height) * -1);
    width: 100%;
    /* background-color: #F7F7F7; */
}
.services h2 {
    padding-left: 20px;
    color: #fff;
    background-color: #0E446A;
}
.services {
    width: 100%;
    background-color: #F7F7F7;
}
.imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;
    box-sizing: border-box;
}
.imgs div {
    max-width: 500px;
    height: 400px;
    overflow: hidden;
    padding: 30px 20px;
    box-sizing: border-box;
}

.imgs div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.light {
    /* Additional light theme styles, if any */
    /* background-color: #F7F7F7; */
    
}

.dark {
    background-color: #333;
    /* color: #f5f5f5; */
}
.dark h1 {
    color: #F96666;
}   
.dark .title-h2 {
    color: #98d2fa;
}
.dark p {
    color: #fff;
}
.dark a {
    color: #fff;
}
.body-text div li {
    font-weight: 500;
    font-size: 1.5rem;
    padding: 10px 0;
    text-decoration: none;
    list-style: none;
}
.body-text div p {
    padding-bottom: 20px;
}
.why-us {
    padding-top: var(--navbar-height);
    margin-top: calc(var(--navbar-height) * -1);
}
.last-title {
    padding-top: 50px;
}
.last-title h2 {
    height: auto;
    padding-left: 20px;
    color: #fff;
    background-color: #0E446A;
    font-weight: bold;
    font-size: 1.5rem;
    width: 60vw;
}
.last-title p {
    /* padding-top: 20px; */
    /* padding-bottom: 20px; */
    padding: 20px 40px;
    text-align: justify;
}
.why-us_icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 50px;
}
.why-us_icons img {
    width: 300px;
}

@media (min-width: 768px) {
    .top {
        position: relative;
        display: flex;
        flex-direction: row;
    }

    /* Title on the left */
    .title {
        justify-content: center;
        align-items: flex-start;
        order: -1;
        width: 50%;
        height: auto;
        padding-left: 20px;
    }
    
    .title h1 {
        font-size: 3rem;
    }
    .title h2 {
        font-size: 2rem;
        /* align-self: flex-start; */
    }
    .title p {
        text-align: justify;
        padding-right: 150px;
    }
    
    .subtitle h2 {
        min-width: 200px;
        max-width: 30vw;
        height: auto;
    }
    .last-title h2 {
        width: 30vw;
        height: auto;
    }
    /* Image on the right */
    .cover-picture {
        max-width: 50%;
        margin: 0;
    }

    .us-container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Services images */
    .imgs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }


    /* Por qué elegirnos section */

    .why-us {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .last-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 60vw;
        align-items: center;
        height: auto;
        text-align: center;
    }

    .why-us_icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }


    /* Image on the right */
    .last-img {
        max-width: 50%;
        margin: 0;
    }
}
@media (min-width: 1200px) {
    .subtitle h2 {
        width: 15vw;
    }
    .last-title h2 {
        width: 30vw;
    }
}
